.login-mask {
  clip-path: circle(100% at center);
  position:absolute;
  inset:0;
  background:$public-dashboard-bg;
  z-index:999;
  overflow: hidden;
  transition:all 1.5s $transition--ease-in-out-quint 0.1s;
  &.transition {
    clip-path: circle(0 at center);
    opacity:0.5;
  }
}
.login-wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding:$size-l;
  .logo {
      max-width:124px;
      display:block;
      margin:0 auto $size-m auto;
    }
  .login-box {
    margin-top:-125px;
    padding:$size-l;
    width:100%; 
    min-height:284px;
    width:290px;
    border:1px solid #DDD;
    h1 {
      text-align: center;
      margin-bottom:0;
    }   
    form {
      display:flex;
      flex-direction: column;
      button {
        margin-top:$size-l;
      }
    }    
    .error {
      display:block;
      margin-top:$size-l;
      color:$color-danger;
    }
  }
  .link {
    margin-top:$size-l
  }
}