.blink-1 {
	-webkit-animation: blink-1 2.5s ease-in-out infinite both;
	        animation: blink-1 2.5s ease-in-out infinite both;
}

@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.spinner-loader {
  border-top: 3px solid rgba(#000, .5);
  border-right: 3px solid transparent;
  border-radius: 50%;
  animation: rotation .8s linear infinite;
}

@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}