html {
  font-size: 62.5%;
  min-height:100%;
}

* {
  box-sizing:border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight:500;
  background:$body-bg;
  color:$color-text-primary;
}

img {
  vertical-align:middle;
}

a {
  color:$color-text-primary;
  text-decoration:none;
}

button {
  cursor: pointer;
  .icon-button, .progress {
    margin-left:$size-xs;
  }
}

button:disabled {
  cursor: default;
}

.hide {
  visibility: hidden;
  height:0;
  &::before {
    height:0;
  }
}

@media (max-width: $mobile-breakpoint) {
  html {
    font-size: 45%;
  }
}

.spinner-wrap {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background:$public-dashboard-bg;
}
.spinner-loader {
  width: 6rem;
  height: 6rem;
}

.link {
  cursor:pointer;
  text-decoration:none;
  &:hover {
    text-decoration:underline
  }
}

#main {
  @include transition-sidebar;
  &.sidebar-opened {
    width:calc(100% - #{$sidebar-width}) !important;
    @include transition-sidebar;
  }
}

