html {
  font-size: 62.5%;
}

* {
  box-sizing:border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight:500;
  background:#f5f5f5;
  color:$color-text-primary;
}

img {
  vertical-align:middle;
}

a {
  color:$color-text-primary;
  text-decoration:none;
}

button {
  cursor: pointer;
  .icon-button, .progress {
    margin-left:$size-xs;
  }
}

button:disabled {
  cursor: default;
}

.custom-sliding-pane {
  background:transparent;
  .slide-pane__content {
    padding:0;
    padding-bottom:$app-bar-height;
    #advEditor {
      &-body {
        background:rgba(30,30,30,0.87) !important;
        font-size: $size-m !important;
      }
    }
  }
}

.hide {
  visibility: hidden;
  height:0;
  &::before {
    height:0;
  }
}

@media (max-width: $mobile-breakpoint) {
  html {
    font-size: 45%;
  }
}

.spinner-wrap {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.spinner-loader {
  width: 6rem;
  height: 6rem;
}

.link {
  cursor:pointer;
  text-decoration:none;
  &:hover {
    text-decoration:underline
  }
}

#main {
  @include transition-sidebar;
}

.recalc-sidebar {
  width:calc(100% - #{$sidebar-width}) !important;
   @include transition-sidebar;
}

