// Colors
$color-danger: #B00020;
$color-text-primary: #333;

// Sizes
$size-xs: 1.3rem;
$size-s: 1.6rem;
$size-m: 2rem;
$size-l: 2.6rem;
$size-xl: 3.6rem;
$size-xxl: 4.5rem;

$app-bar-height: 64px;
$desktop-breakpoint: 45rem;
