// Colors
$color-danger: #B00020;
$color-text-primary: #333;

// Sizes
$size-xs: 1rem;
$size-s: 1.3rem;
$size-m: 1.6rem;
$size-l: 2rem;
$size-xl: 2.6rem;
$size-xxl: 3.6rem;

$poster-width-desktop: 105px;
$poster-width-mobile: 90px;

$app-bar-height: 64px;
$mobile-breakpoint: 48rem; // 768 ÷ 16 = 48
